@import "style.css";

#users-score {
	width: 100%;
}

#users-score > thead > tr > th,
#users-score > tbody > tr > td {
	width: 33.33%;
	text-align: center;
}

#tabs {
	height: none;
}

#tabs > div > div {
	padding: .5em;
}

#quiz-list > tbody > tr > td > ol {
	padding-left: 20px;
}

#theme-list1,
#theme-list2,
#theme-list3 {
	width: 30%;
	display: inline-block;
}