#wrapper {
	width: 40%;
	margin: 0 auto;
	margin-top: 50px;
}

#table-login {
	width: 100%;
}

#jquery-btn {
	width: 100%;
	padding: .4em .8em;
}

#username, #password {
	width: 99%;
	font-size: 1.4em;
}

/* for jquery validation */
#username-error, #password-error {
	color: red;
}

/*@media screen and (min-width: 1200px) {
	#wrapper {
		width: 30%;
	}
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
	#wrapper {
		width: 30%;
	}
}

@media screen and (max-width: 991px) and (min-width: 768px) {
	#wrapper {
		width: 30%;
	}
}*/

@media screen and (max-width: 767px) {
	#wrapper {
		width: 80%;
	}
}