#wrapper {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
}

#header, #content {
	width: 96%;
	padding: 2%;

	float: left;
}

#header div {
	float: left;
}

#header > .left {
	width: 93%;
}
#header > .right {
	width: 7%;
}
#header > .right a {
	font-size: 1vw;
}